.App {
  margin: 0;
  padding: 0 50px;
  max-width: 100%;
}

.App-header {
  text-align: center;
  padding-bottom: 60px;
}

.Element {
  padding-bottom: 120px;
}

.Element-3 {
  width: 300px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding-bottom: 30px;
}

.MuiAutocomplete-input {
  width: 300px;
  height: 36px;
}
